* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
    text-align: center;
}

body {
    display: block;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding-top: 15x;
    background-color: #eee;
    line-height: 1.5;
}
#header{
    margin: 0 auto;
    margin-top: 10px;
    padding-top: 10px;
    font-weight: 700;
    font-size: 3em;
    height: 100px;
    width: 80%;
}
.calendar {
    width: 85%;
    margin: 0 auto;
    padding: 20px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.year-month {
    font-size: 35px;
    font-weight: 700;
}

.nav {
    display: flex;
    border: 1px solid #333333;
    border-radius: 5px;
}

.nav-btn {
    width: 28px;
    height: 30px;
    border: none;
    font-size: 16px;
    line-height: 34px;
    background-color: transparent;
    cursor: pointer;
}

.go-today {
    width: 75px;
    border-left: 1px solid #333333;
    border-right: 1px solid #333333;
}

.days {
    display: flex;
    margin: 25px 0 10px;
}

.day {
    width: calc(100% / 7);
    text-align: center;
    font-size: 1.5em;
}

.dates {
    display: flex;
    flex-flow: row wrap;
    height: 800px;
    border-top: 1px solid #333333;
    border-right: 1px solid #333333;
}

.date {
    width: calc(100% / 7);
    padding: 15px;
    text-align: right;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #333333;
    background-size: cover;
    opacity: 0.75;

}

.day:nth-child(7n + 1),
.date:nth-child(7n + 1) {
    color: #D13E3E;
}

.day:nth-child(7n),
.date:nth-child(7n) {
    color: #396EE2;
}

.other {
    opacity: 0.3;
}

.today {
    position: relative;
    color: #FFFFFF;
}

.today::before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    width: 30px;
    height: 30px;
    display: block;
    background-color: #FF0000;
    border-radius: 50%;
    content: '';
}

.btn {
    background-color: #007bff;
    border-color: #007bff;
    max-width: 200px;
    font-weight: 400;
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
    border-radius: 0.3rem;
    color: #fff;
    margin: 10px;
    cursor: pointer;
}

#container {
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
    padding-right: 15px;
    padding-left: 15px;
    padding-top:20px;
    background-color: white;
    border-radius: 0.8rem;
    min-height: 100%;
    height: auto;
    padding-bottom: 100px;
}


footer {
    margin-top: 20px;
    width: 100%;
    height: 100px;
    position: relative;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

textarea{
    text-align: left;
    width: 80%;
    padding: 10px;
    font-size: 16px;
    line-height: 1.25;
    margin: 10px;
}

input{
    padding: 10px;
    font-size: 16px;
    line-height: 1.25;
    margin: 10px;
}

#content_box{
    min-height: 500px;
    width: 80%;
    padding: 10px;
    font-size: 16px;
    line-height: 1.25;
    margin: 0 auto;
    border: 1px solid #333333;
    text-align: left;
    align-items: left;
    justify-items: left;
}

img{
    max-width: 100%;

}

#in_content{
    min-height: 400px;
    padding:15px;
    text-align: left;
}

#write_area{
    line-height: 1.5;
    margin-top: 20px;
}

#date_box{
    margin: 0 auto;
    padding: 10px;
    font-size: 18px;
    width: 80%;
}

#title{
    font-size: 20px;
    font-weight: 600;
    line-height: 2;
}

h1{
    margin: 10px;
    padding: 10px;
}

h2{
    font-size: 30px;
}

/* .date span{
    background-color: #D0D0D0;
    border-radius: 2;
    border: hidden;
} */


.nav-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0; /*쓸 데 없는 공백 제거*/
    padding: 0; /*쓸 데 없는 공백 제거*/

    list-style-type: none; /*목록 기호 제거*/
}
nav{
    float: right;
    margin-right: 20px;
}

.nav-item {
    padding: 15px;
    cursor: pointer; /*마우스 커서를 pointer 모양으로 함*/
}
.nav-item a { /*nav-item 클래스 아래의 a 요소를 선택함*/
    text-align: center;
    text-decoration: none; /*밑줄 없앰*/
    color: #333333;
    font-weight: bold;
}

.notice{
    margin: 30px;
}

.btn-login{
    font-size: 20px;
}

.listBtn{
    float: right;
}

#in_title{
    margin: 0 auto;
    width: 80%;
}

.bt_se{
    margin-top: 30px;
}